<% provide(:title, 'INFO') %>
<h1>Información de la empresa</h1>
<p>
  <a href="http://www.maserco.cl">MASERCO S.A.</a>
  es una empresa dedicada a la ingenería y la construcción. Esta es la aplicación para ejercer el control de producción.
</p>