<% provide(:title, 'Ayuda') %>
<h1>Ayuda</h1>
<p>
  Para obtener ayuda sobre esta aplicación, lea el manual haciendo click en el siguiente link:
</p>
<p>
  <h2><a href="http://www.google.cl">MANUAL(AGREGAR LINK)</a>.</h2>
</p>