<div class="center hero-unit">
  <h1>Bienvenido a la aplicación</h1>

  <h2>
    Esta es la página de inicio para la aplicación de prueba
  </h2>

  <%= link_to "Regístrate como nuevo usuario", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("logo.png", alt: "MASERCO"), 'http://www.maserco.cl/' %>