<% provide(:title, 'Usuarios') %>
<h1>Lista de usuarios</h1>

<%= will_paginate %>

<table class="users">
  <tr>
    <th>Avatar</th>
    <th>Nombre </th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Administrador</th>
    <th>Opciones</th>
  </tr>

  <%= render @users %>
</table>

<br />

<%= will_paginate %>

<%= link_to 'Nuevo Usuario', new_user_path %>