<tr>
	<td><%= propose.obra %></td>
	<td>
	  <%= link_to 'Ver', propose %><br />
	  <%= link_to 'Editar', edit_propose_path(propose) %><br />
	  <%= link_to 'Eliminar', propose, method: :delete, data: { confirm: '¿Está seguro?' } %>
	</td>
</tr>