<% provide(:title, 'Propuestas') %>
<h1>Lista de Propuestas</h1>

<%= will_paginate %>

<table class="index proposes">
  <tr>
    <th>Obra</th>
    <th>Opciones</th>
  </tr>

  <%= render @proposes %>
</table>

<br />

<%= will_paginate %>

<%= link_to 'Nueva propuesta', new_propose_path %>
