<% provide(:title, 'Items') %>
<h1>Lista de Items</h1>

<%= will_paginate %>

<table class="index items">
  <tr>
    <th>Descripcion</th>
    <th>Código</th>
    <th>Opciones</th>
  </tr>

  <%= render @items %>
</table>

<br />

<%= will_paginate %>

<%= link_to 'Nuevo Item', new_item_path %>
