<footer class="footer">
  <small>
    <p>Control de costos por
      <b>Francisco Salinas</b>
    </p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contacto", '#' %></li>
    </ul>
  </nav>
</footer>